body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    overflow-x: hidden!important
}

/* SPA CSS Styling */
.page {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    /* transition: transform 1s; */
}

#allPages {
    position: relative;
}

#map {
    height:100vh;
}

.hidden { 
    transform: translateX(-120%);
    transition: transform 1s;
}

.show {
    transform: translateX(0);
    transition: transform 1s;
}
/* End of SPA CSS */

/* Welcome Page */
#homepage {
    background-color: lightsalmon;
    height: 100vh !important;;
    width:100vw;
    box-sizing: border-box !important
}

#mapsection {
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* Search Bar */
#search-results {
    overflow-y: scroll;
    max-height: 500px;
    margin-top: 10px;
    background-color: lightgrey;
}


.dropdown {
    width:200px;
    background-color:lightgrey!;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}