body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    overflow-x: hidden !important
}

#homepage {
    background-color: #07a837 !important;
    height: 100vh !important;
    width: auto;
    box-sizing: border-box !important;
}

.page {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#allpages {
    position: relative;
}

.hidden {
    transform: translateX(-100%);
    transition: transform 1s;
}

.show {
    transform: translateX(0);
    transition: transform 1s;
}

#map {
    height: 100vh;
}

#secondarypage {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#primarypage {
    height: 100vh;
    box-sizing: border-box !important
}

.card {
    position: relative;
    overflow: hidden;
    border: none;
}

.cardbtn {
    position: absolute;
    background-color: #b5b165;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cardbtn:hover {
    opacity: 100 !important;
}

#feedbackpage {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#feedbackpage>h2 {
    text-align: center;
}

#display-feedbackForm {
    margin: 3px;
}






@media screen and (min-width: 576px) {

}



@media screen and (min-width: 768px) {


}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}